# Miscellaneous
*.class
*.log
*.pyc
*.db

# Flutter/Dart specific
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
*.jks
*.apk
*.aab

# iOS
ios/Pods/
ios/.symlinks/

# IDE
.idea/
.vscode/
*.iml
